{% extends 'tool/base.html' %}
{% load static %}

{% block css_block %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

{% endblock %}


{% block body_block %}
      {% if form.errors %}
      {% for field in form %}
            {% for error in field.errors %}
                  <div class="ERROR"
                        <strong>{{ error|escape }}</strong>
                  </div>
            {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
            <div class="ERROR">
                  <strong>{{ error|escape }}</strong>
            </div>
      {% endfor %}
      {% endif %}
      {% if edit %}
      <div id=sign_in_box>
            <h1>Edit part</h1>

            <form id="create_hack_form" method="post" enctype="multipart/form-data"action="{% url 'tool:add_part' car.carSlug system.systemSlug assembly.assemblySlug part.partSlug %}">
            {% csrf_token %}

            <label for="partName"><b>Part Name: </b></label>
            <input type="text" name="partName" value="{{ part.partName }}" size="50"/>

            <br />
            <br />
            {% if part.makeBuy %}
                  <input type="checkbox" id="makeBuy" name="makeBuy" checked>
                  <label for="makeBuy">makeBuy</label>
            {% else %}
                  <input type="checkbox" id="makeBuy" name="makeBuy">
                  <label for="makeBuy">makeBuy</label>
            {% endif %}
            <br />
            <br />

            {% if costed %}
            <label for="partCost"><b>Part Cost in EUR: </b></label>
            <input type="float" name="partCost" value="" size="50"/>

            <br />
            <br />

            {%else%}
                  <p>
                        Note:// part isnt costed
                  </p>
            {%endif%}
            
            <label for="partQuantity"><b>Quantity: </b></label>
            <input type="int" name="partQuantity" value="{{ part.partQuantity }}" size="50"/>

            <br />
            <br />

            <label for="partComment"><b>Comment: </b></label>
            <input type="text" name="partComment" value="{{ part.partComment }}" size="50"/>

            <br />
            <br />
            
            <input type="submit" value="Submit" />

            </form>
            </div>

      {% else %}
            <div id=sign_in_box>
            <h1>Create a new part</h1>

            <form id="create_hack_form" method="post" enctype="multipart/form-data"action="{% url 'tool:add_part' car.carSlug system.systemSlug assembly.assemblySlug %}">
            {% csrf_token %}

            <label for="partName"><b>Part Name: </b></label>
            <input type="text" name="partName" value="" size="50"/>

            <br />
            <br />

            <input type="checkbox" id="makeBuy" name="makeBuy">
            <label for="makeBuy">makeBuy</label>

            <br />
            <br />

            {% if costed %}
            <label for="partCost"><b>Part Cost in EUR: </b></label>
            <input type="float" name="partCost" value="" size="50"/>

            <br />
            <br />

            {%else%}
                  <p>
                        Note:// part isnt costed
                  </p>
            {%endif%}

           

            <label for="partQuantity"><b>Quantity: </b></label>
            <input type="int" name="partQuantity" value="" size="50"/>

            <br />
            <br />

            <label for="partComment"><b>Comment: </b></label>
            <input type="text" name="partComment" value="" size="50"/>

            <br />
            <br />
            
            <input type="submit" value="Submit" />

            </form>
            </div>
      {% endif %}
{% endblock %}