{% extends 'tool/base.html' %}
{% load static %}

{% block css_block %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

{% endblock %}


{% block body_block %}
      <div id=sign_in_box>

            {% if form.errors %}
            {% for field in form %}
                  {% for error in field.errors %}
                        <div class="ERROR"
                        <b><strong><FONT COLOR="RED">{{ error|escape }}</FONT></strong></b>
                        </div>
                  {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                  <div class="ERROR">
                        <b><strong><FONT COLOR="RED">{{ error|escape }}</FONT></strong></b>
                  </div>
            {% endfor %}
            {% endif %}
            
      {% if edit %}
            <h1>Edit {{car.carName}}</h1>

            <form id="create_hack_form" method="post" enctype="multipart/form-data" action="{% url 'tool:add_car' car_slug=car.carSlug %}">
                  {% csrf_token %}
                  <label for="carName"><b>Car Name: </b></label>
                  <input type="text" name="carName" value="{{car.carName}}" size="50"/>
                  <br />
                  <br />
                  <label for="carYear"><b>Car Year: </b></label>
                  <input type="int" name="carYear" value="{{car.carYear}}" size="50"/>
                  <br />
                  <br />
                  <input type="submit" value="Submit" />
        
              </form>
      {% else %}
            <h1>Create a new car</h1>

            <form id="create_hack_form" method="post" enctype="multipart/form-data" action="{% url 'tool:add_car'%}">
                  {% csrf_token %}
                  <label for="carName"><b>Car Name: </b></label>
                  <input type="text" name="carName" value="{{car.carName}}" size="50"/>
                  <br />
                  <br />
                  <label for="carYear"><b>Car Year: </b></label>
                  <input type="int" name="carYear" value="{{car.carYear}}" size="50"/>
                  <br />
                  <br />
                  <input type="submit" value="Submit" />
        
              </form>
      {% endif %}
      </div>
{% endblock %}