{% extends 'tool/base.html' %}
{% load static %}

{% block css_block %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

{% endblock %}


{% block body_block %}
      {% if edit %}
            <h1>Edit "{{pmft.pmftName}}" PMFT</h1>

            <form id="create_pmft_form" method="post" enctype="multipart/form-data"action="{% url 'tool:add_pmft' car.carSlug system.systemSlug assembly.assemblySlug part.partSlug pmft.pmftSlug %}">
            {% csrf_token %}

            <label for="pmftName"><b>Pmft Name: </b></label>
            <input type="text" name="pmftName" value="{{ pmft.pmftName }}" size="15"/>

            <br />
            <br />

            <label for="pmftComment"><b>Comment: </b></label>
            <input type="text" name="pmftComment" value="{{ pmft.pmftComment }}" size="50"/>

            <br />
            <br />
            <label for="pmftCost"><b>Pmft Cost in EUR: </b></label>
            <input type="float" name="pmftCost" value="{{ pmft.pmftCost }}" size="50"/>
            <br />
            <br />
            <label for="pmftCostComment"><b>Cost Comment: </b></label>
            <input type="text" name="pmftCostComment" value="{{ pmft.pmftCostComment }}" size="50"/>
            <br />
            <br />
            <label for="pmftQuantity"><b>Quantity: </b></label>
            <input type="int" name="pmftQuantity" value="{{ pmft.pmftQuantity }}" size="50"/>
            <br />
            <br />
            <label for="pmftType"><b>Type: </b></label>
            <input type="text" name="pmftType" value="{{ pmft.pmftType }}" size="50"/>
            <br />
            <br />       
            <input type="submit" value="Submit" />

            </form>
      {% else %}
            <h1>Create a new PMFT</h1>

            <form id="create_pmft_form" method="post" enctype="multipart/form-data"action="{% url 'tool:add_pmft' car.carSlug system.systemSlug assembly.assemblySlug part.partSlug %}">
            {% csrf_token %}

            <label for="pmftName"><b>Pmft Name: </b></label>
            <input type="text" name="pmftName" value="" size="15"/>

            <br />
            <br />

            <label for="pmftComment"><b>Comment: </b></label>
            <input type="text" name="pmftComment" value="" size="50"/>

            <br />
            <br />
            <label for="pmftCost"><b>Pmft Cost in EUR: </b></label>
            <input type="float" name="pmftCost" value="" size="50"/>
            <br />
            <br />
            <label for="pmftCostComment"><b>Cost Comment: </b></label>
            <input type="text" name="pmftCostComment" value="" size="50"/>
            <br />
            <br />
            <label for="pmftQuantity"><b>Quantity: </b></label>
            <input type="int" name="pmftQuantity" value="" size="50"/>
            <br />
            <br />
            <label for="pmftType"><b>Type: </b></label>
            <input type="text" name="pmftType" value="" size="50"/>
            <br />
            <br />       
            <input type="submit" value="Submit" />

            </form>
      {% endif %}
{% endblock %}