{% extends 'tool/base.html' %}
{% load static %}

{% block css_block %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

{% endblock %}


{% block body_block %}

            {% if form.errors %}
            {% for field in form %}
                  {% for error in field.errors %}
                        <div class="ERROR"
                        <b><strong><FONT COLOR="RED">{{ error|escape }}</FONT></strong></b>
                        </div>
                  {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                  <div class="ERROR">
                        <b><strong><FONT COLOR="RED">{{ error|escape }}</FONT></strong></b>
                  </div>
            {% endfor %}
            {% endif %}

      {% if edit %}
            <h1>Edit "{{pmft.pmftName}}" PMFT</h1>

            <form id="create_pmft_form" method="post" enctype="multipart/form-data"action="{% url 'tool:add_pmft' car.carSlug system.systemSlug assembly.assemblySlug part.partSlug pmft.pmftSlug %}">
            {% csrf_token %}

            <label for="pmftName"><b>Pmft Name: </b></label>
            <input type="text" name="pmftName" value="{{ pmft.pmftName }}" size="15"/>

            <br />
            <br />

            <label for="pmftComment"><b>Comment: </b></label>
            <input type="text" name="pmftComment" value="{{ pmft.pmftComment }}" size="50"/>

            <br />
            <br />
            {% if costed %}

            <label for="pmftCost"><b>Pmft Cost per-unit in EUR: </b></label>
            <input type="float" name="pmftCost" value="" size="50"/>
            <br />
            <br />
            <label for="pmftCostComment"><b>Cost Comment: </b></label>
                  {{form.pmftCostComment}}
            <br />
            <br />

            {%else%}
                  <p>
                        Note:// pmft isnt costed
                  </p>
            {%endif%}

            <label for="pmftQuantity"><b>Quantity: </b></label>
            <input type="int" name="pmftQuantity" value="{{ pmft.pmftQuantity }}" size="50"/>
            <br />
            <br />
            
            <label for="pmftType"><b>Type: </b></label>
            {{ form.pmftType}}

            <br />
            <br />       
            <input type="submit" value="Submit" />

            </form>
      {% else %}

            <h1>Create a new PMFT</h1>

            <form id="create_pmft_form" method="post" enctype="multipart/form-data"action="{% url 'tool:add_pmft' car.carSlug system.systemSlug assembly.assemblySlug part.partSlug %}">
            {% csrf_token %}

            <label for="pmftName"><b>Pmft Name: </b></label>
            <input type="text" name="pmftName" value="" size="15"/>

            <br />
            <br />

            <label for="pmftComment"><b>Comment: </b></label>
            <input type="text" name="pmftComment" value="" size="50"/>

            <br />
            <br />

            {% if costed %}

            <label for="pmftCost"><b>Pmft Cost per-unit in EUR: </b></label>
            <input type="float" name="pmftCost" value="" size="50"/>
            <br />
            <br />
            <label for="pmftCostComment"><b>Cost Comment: </b></label>
                   {{form.pmftCostComment}}
            <input type="text" name="pmftCostComment" value="" size="50"/>
            <br />
            <br />

            {%else%}
                  <p>
                        Note:// pmft isnt costed
                  </p>
            {%endif%}


            <label for="pmftQuantity"><b>Quantity: </b></label>
            <input type="int" name="pmftQuantity" value="" size="50"/>
            <br />
            <br />

            <label for="pmftType"><b>Type: </b></label>
            {{ form.pmftType}}


            <br />
            <br />       
            <input type="submit" value="Submit" />

            </form>
      {% endif %}
{% endblock %}