{% extends 'tool/base1.html' %}
{% load staticfiles %}


{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}


{% block body_block %}
  <div id="content_h">
    <h1>{{car.carName }}{{ car.carYear }}{{system.systemID}}{{system.systemName}}{{assembly.assemblyName}}</h1>
  </div>

  {% if parts %}
  <ul>
 {% for part in parts %}
   <li>
     <a href="{% url 'tool:part_display' car.carSlug system.systemSlug assembly.assemblySlug part.partSlug   %}">{{ part.partID }}  {{part.partName}}</a>
   </li>
  {% endfor %}
  </ul>
{% else %}
  <strong>There are no parts yet</strong>
{% endif %}





  <ul>
    <li><a href = "{% url 'tool:home' %}"> Home Page </a> </li>
  </ul>

  <!--</div>-->
  <div id="clear"></div>
{% endblock %}
