{% extends 'tool/base.html' %}
{% load static %}


{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}

{% block body_block %}
  <div id="content_h">
    {% if car.archived %}
      <h1>
        {{car.carName }} {{ car.carYear }} ARCHIVED
      </h1>
    {% else %}
      <h1>
        {{car.carName }} {{ car.carYear }}
      </h1>
    {% endif %}
  </div>


  {% if systems %}
  <ul>
 {% for system in systems %}
    {% for key, value in access_bool.items %}
      {% if key == system.systemID %}
        {% if value.0 %}
          {% if value.1 %}
          <li>
            <a href="{% url 'tool:system_display' car.carSlug system.systemSlug %}">{{ system.systemID }}  {{system.systemName}} ACCESSIBLE TH</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'tool:system_display' car.carSlug system.systemSlug %}">{{ system.systemID }}  {{system.systemName}} ACCESSIBLE NOT TH</a>
          </li>
          {% endif %}
        {% else %}
        <li>
          <a href="{% url 'tool:system_display' car.carSlug system.systemSlug %}">{{ system.systemID }}  {{system.systemName}} INACCESSIBLE</a>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
{% else %}
  <strong>There are no systems yet</strong>
{% endif %}

<div>
  <li>
    <a href="{% url 'tool:add_system' car.carSlug %}"> CLICK HERE TO ADD SYSTEM</a>
  </li>
</div>

  <ul>
    <li><a href = "{% url 'tool:home' %}"> Home Page </a> </li>
  </ul>

  <!--</div>-->
  <div id="clear"></div>
{% endblock %}
