{% extends 'tool/base.html' %}
{% load static %}

{% block css_block %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

{% endblock %}

{% block title_block %}
    Change Password
{% endblock %}


{% block body_block %}
      
<body id="bg" style="background-image: url('{% static "images/ugr-20.png" %}');";>

<div class="login_section form-control">
    <a><img src="{% static "images/ugr-white-transparent.png" %}" alt="UGRacing" height="100px"></a>
    <br />
      <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Save changes</button>
    </form>

</div>

{% endblock %}