{% extends 'tool/base.html' %}
{% load static %}

{% block css_block %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

{% endblock %}

{% block title_block %}
    Change Password
{% endblock %}


{% block body_block %}


<body id="bg" style="background-image: url('{% static "images/ugr-20.png" %}');";>

<div class="login_section form-control">
    <a><img src="{% static "images/ugr-white-transparent.png" %}" alt="UGRacing" height="100px"></a>
    <h5> Follow good password practice when selecting a password. </h5>
    <h5> At least 12 chars, one capital, one number, one symbol. </h5>
    <br />
    <form id="login_form" method="post" action="{% url 'tool:login' %}">
        {% csrf_token %}
        <input type="password" placeholder = "Old Password" class="form-control box" name="old-password" value="" size="50" />
        <br />
        <input type="password" placeholder = "New Password" class="form-control box" name="new-password" value="" size="50" />
        <br />
        <input type="password" placeholder = "Confirm New Password" class="form-control box" name="new-password" value="" size="50" />
        <br />
        <button type="submit" value="submit" class="login_btn btn"> Change Password </button>
    </form>
</div>

{% endblock %}
