{% extends 'tool/base.html' %}
{% load static %}


{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}


{% block body_block %}
  <div id="content_h">
    <h1>
      <a href="{% url 'tool:car_display' car.carSlug %}">{{car.carName }}{{ car.carYear }}</a> / 
      <a href="{% url 'tool:system_display' car.carSlug system.systemSlug %}">{{system.systemName}}</a> / 
      <a href="{% url 'tool:assembly_display' car.carSlug system.systemSlug assembly.assemblySlug %}">{{assembly.assemblyName}}</a> / 
      {{part.partName}}
    </h1>
  </div>

  {% if pmfts %}
  <ul>
 {% for pmft in pmfts %}
   <li>
     <a href="{% url 'tool:pmft_display' car.carSlug system.systemSlug assembly.assemblySlug part.partSlug pmft.pmftSlug  %}">{{ pmft.partID }}  {{pmft.partName}}</a>
   </li>
  {% endfor %}
  </ul>
{% else %}
  <strong>There are no pmfts yet</strong>
{% endif %}





  <ul>
    <li><a href = "{% url 'tool:home' %}"> Home Page </a> </li>
  </ul>

  <!--</div>-->
  <div id="clear"></div>
{% endblock %}
