{% extends 'tool/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}


{% block body_block %}
  <div id="content_h">
    <h1>
      <a href="{% url 'tool:car_display' car.carSlug %}">{{car.carName }}{{ car.carYear }}</a> / 
      {{system.systemName}}
    </h1>
  </div>

<ul>
{% for assembly_key, parts in output.items %}
  <li>{{ assembly_key.assemblyID }} {{assembly_key.assemblyName}}</li>
  <ul>
  {% for part_key, pmfts in parts.items %}
    <li>{{ part_key.partID }} {{part_key.partName }}</li>
    <ul>
    {% for pmft in pmfts %}
      <li>{{ pmft.pmftID }}{{ pmft.pmftName }}</li>
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
{% endfor %}
</ul>

<div>
  <li>
    <a href="{% url 'tool:add_assembly' car.carSlug system.systemSlug %}"> CLICK HERE TO ADD ASSEMBLY</a>
  </li>
</div>


  <ul>
    <li><a href = "{% url 'tool:home' %}"> Home Page </a> </li>
  </ul>

  <!--</div>-->
  <div id="clear"></div>
{% endblock %}
