{% extends 'tool/base.html' %}
{% load static %}


{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}


{% block body_block %}
  <div id="content_h">
    <h1>
      <a href="{% url 'tool:car_display' car.carSlug %}">{{car.carName }}{{ car.carYear }}</a> / 
      {{system.systemName}}
    </h1>
  </div>

  {% if assemblys %}
  <ul>
 {% for assembly in assemblys %}
   <li>
     <a href="{% url 'tool:assembly_display' car.carSlug system.systemSlug assembly.assemblySlug  %}">{{ assembly.assemblyID }}  {{assembly.assemblyName}}</a>
   </li>
  {% endfor %}
  </ul>
{% else %}
  <strong>There are no assemblys yet</strong>
{% endif %}


<div>
  <li>
    <a href="{% url 'tool:add_assembly' car.carSlug system.systemSlug %}"> CLICK HERE TO ADD ASSEMBLY</a>
  </li>
</div>


  <ul>
    <li><a href = "{% url 'tool:home' %}"> Home Page </a> </li>
  </ul>

  <!--</div>-->
  <div id="clear"></div>
{% endblock %}
