#content_h {
  background-color: #8ab9f1;
  text-align: center;
  margin: 15px 5% 15px;
  padding: 1px 0px 1px;
}

#content_h a {
  text-decoration: underline !important;
}

.car-card {
  height: 20vh;

}

.hack_carousel {
  position: relative;
}

.hack_carousel a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 23px;
}

.top_hack {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.car_display_card {
  position: relative;
  border: solid black;
  border-width: 0.9px 0.9px;
  border-radius: 10px;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
  min-width: 600px;
}

.car_card_description {
  width: 59%;
  margin-left: 40px;
  margin-top: 20px;
  border-width: 1px 1px;
  border-radius: 10px;
  height: 180px;
  font-size: 14px;
}

@media all and (max-width: 1300px) {
    .car_card_description {font-size:12px;}
}

@media all and (max-width: 1000px) {
    .car_card_description {font-size:10px;}
}

@media all and (max-width: 400px) {
    .car_card_description {font-size:9px;}
}

.car_card_title {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 35px;
}

.car_image {
    position: absolute;
    right: 60px;
}

.system_image{
    margin-top: 10px;
}

.edit-system-btn {
    position: absolute;
    left: 0px;
    top: 0;
}

/*edit-system-btn:hover{
    background-color: #f8de7e;
}*/

.m-auto h5 {
    text-align: center;
}
