#content_h {
  background-color: #8ab9f1;
  text-align: center;
  margin: 15px 5% 15px;
  padding: 1px 0px 1px;
}

#content_h a {
  text-decoration: underline !important;
}

.car-card {
  height: 25vh;
}

.hack_carousel {
  position: relative;
}

.hack_carousel a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 23px;
}

.top_hack {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
