/* General page adjustments such as font */
html {
  font-family: "Open Sans", sans-serif !important;
}

body {
  margin: 0;
}

.bg-ugr-primary {
  background-color: #ffcc00;
}

.bg-ugr-electric {
  background-color: #009AD7;
}

.bg-ugr-concept {
  background-color: #90538F;
}

.bg-grey {
  background-color: #A6A6A6;
}
.bg-archived{
background-color: #D2C48F !important;
}

/* Header, logo */
#userspace {
  float: right;
  width: 25%;
  height: 85px;
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #f8de7e;
}

a{
  color: black;
  text-decoration: none;
}

/* Menu Bar */
#menu {
  background: #050505;
  font-size: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#menu ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
}
#menu li{
  display: block;
  list-style-type: none;
}

#menu a{
  color: white;
  text-decoration: none;
}

.hr-width {
  width: -webkit-calc(100% - 3rem)
}

.car-card {
  height: 15rem;
  border-width: 0.9px;
  border-color: black;
  border-radius: 10px;

}

.car-card-title {
  height: 5rem;

}

.system-wrapper {
  flex: 1 1 auto;
  padding-left: 50px; /* r */
  padding-right: 50px; /* r */
}

/* System display */

.fw-600 {
  font-weight: 600 !important;
}

/* Footer */
#footer {
  margin-top: 2%;
  padding: 5px 5px 5px;
  text-indent: 10px;
  background-color: #f8de7e;
}
#footer a{
  font-size: 17px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.btn {
    border-width: 0.9px;
    border-color: black;
    border-radius: 10px;
}
.btn:hover a {
    color:#ffcc00;
}

.btn:hover {
    border-color: black;
    border-radius: 10px;
    background: #212529;
    color: #ffcc00;
}

.accordion-container{
    width: 1500px;
    margin-left: 30px;

}
